
<header class="bg-white px-6 py-4">
  <div class="max-w-7xl mx-auto flex items-center justify-between">

    <!-- Logo -->
    <app-logo-component></app-logo-component>

    <!-- Navigation Links -->
    <app-nav-component></app-nav-component>

    <!-- Auth Buttons + Logout -->
    <div class="flex items-center gap-4">
      <app-auth-buttons-component></app-auth-buttons-component>
      <app-logout-button></app-logout-button>
      <a href="">
           <i class="fa-solid fa-circle-user text-2xl"></i>
      </a>
    </div>

  </div>
</header>
